h1 {
    text-align: center;
    color: #111827 ;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
     background: #22d3ee;
    border: 3px solid black;
    height: 20%;
    width: 50%;
}

.form{
    display: flex;
    gap: 8px;
}

input {
    flex: 1;
    padding: 10px;
    border: 2px solid #111827;
}

.btnHapus{
    background-color: red;
    color: white;
    
}

.btnEdit{
    background-color: rgb(238, 255, 0);
    color: white;
    
}

button {
    padding: 10px 14px;
    border: none;
    background: #111827;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

h3 {
    text-align: center
}

button:hover{
    background: rgb(43, 43, 54);

}

li {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    width: 580px;
} 


.hapus {
    background: red;

}

.hapus:hover {
    background: red;
}

